<html>
<head>
  <title>Todolist</title>
</head>
<body>
  <h1>Todolist</h1>
  Add a task :
  <form method="post" action="/new">
    <input type="text" name="taskName"/>
    <button type="submit">Add</button>
  </form>
</body>
</html>
